<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116450802435-971beqdglvj5fiu89u22vdgq6pvvpvve.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116450802435-971beqdglvj5fiu89u22vdgq6pvvpvve</string>
	<key>API_KEY</key>
	<string>AIzaSyBgjZRSW--5D7S5_3YYF5e_flAaRdGHHnA</string>
	<key>GCM_SENDER_ID</key>
	<string>116450802435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.twilio.TwilioVerifySNADemo</string>
	<key>PROJECT_ID</key>
	<string>twilioverify-sampleapp</string>
	<key>STORAGE_BUCKET</key>
	<string>twilioverify-sampleapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116450802435:ios:b784cf17ce450df5728736</string>
	<key>DATABASE_URL</key>
	<string>https://twilioverify-sampleapp.firebaseio.com</string>
</dict>
</plist>